@model RegisterViewModel
@using static medic.Models.ApplicationUser
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <select asp-for="Usuario" asp-items="Html.GetEnumSelectList<ApplicationUser.Tipo>()" asp-class="form-control"></select>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>

        <form method="post" class="form-horizontal" action="/Account/ExternalLogin?returnurl=%2FAccount%2FExternalLoginCallback">
            <div>
                <p>

                    <button type="submit" class="btn btn-default btn-facebook" name="provider" value="Facebook" title="Ingrese con su cuenta de Facebook "><span class="fa fa-facebook"></span> Ingresar con Facebook</button>
                </p>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FN0JZy6_qREm36VC3oZAhW1UiNTbciH7LpYTUQokmSGM_yw2C6YXHUGdBNLZdvhDBfKpS3d6JazAMYE53qgH6PWUs1IuV0mTudRR1xyZLb_7dN2IZt0LtPuAi7DmftibaecYis1WvY8a6JMvNcp84A">
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
